<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1>FOOD CORNER</h1>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Pay Rs.1000 with credit card</h5>
                  <p class="card-text"></p>
                </div>
            </div>
            
            <table class="table table-borderless">
                <tr>
                    <td>Cardholder Name</td>
                    <td><input type="text" name="" id="" class="form-control"></td>
                </tr>
                <tr>
                    <td>Card Number</td>
                    <td><input type="text" name="" id="" class="form-control"></td>
                </tr>
                <tr>
                    <td>Validity</td>
                    <td><input type="text" name="" id="" class="form-control" placeholder="mm-yy"></td>
                </tr>
                <tr>
                    <td>CVV</td>
                    <td><input type="email" name="" id="" class="form-control"></td>
                </tr>
                <tr>
                    <td>Delivery Address</td>
                    <td><input type="text" name="" id="" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="" class="btn btn-primary">Pay Now</a></td>
                </tr>
            </table>

        </div>
    </div>
</div>
